.footer {
  background: #5a6e6e;
  color: white;
  padding: 40px 20px;
  text-align: center;
}

.footer-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  gap: 20px;
  max-width: 1000px;
  margin: 0 auto;
}

.footer-left p {
  text-align: left;
  line-height: 1.6;
  color: #fff;
}

.footer-center h2 {
  font-size: 26px;
  color: #fff;
}

.footer-center p {
  font-size: 14px;
  color: #ddd;
}

.footer-center a {
  color: #fff;
  text-decoration: underline;
}

.footer-center a:hover {
  color: #cce0cc;
}
