.hero {
  background: url('../../assets/hero.jpg') ;
  color: white;
  text-align: center;
  padding: 140px 20px;
}

.hero-content h1 {
  font-size: 48px;
  margin-bottom: 15px;
}

.hero-content p {
  font-size: 18px;
}

.hero-buttons {
  margin-top: 25px;
}
