.hero {
  background: url('../../assets/hero.jpg') ;
  color: white;
  text-align: center;
  padding: 140px 20px;
  z-index: 3;
}

.hero-content h1 {
  font-size: 48px;
  margin-bottom: 15px;
  z-index: 1;
}

.hero-content p {
  font-size: 18px;
  color: white;
  z-index: 2;
}

.hero-buttons {
  margin-top: 25px;
}
