.sermons {
  background: #fff;
}

.sermon-gallery {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 25px;
}

.sermon-item {
  position: relative;
  width: 350px;
  border: 1px solid #ddd;
  border-radius: 5px;
  overflow: hidden;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.05);
}

.sermon-item img {
  height: 230px;
  object-fit: cover;
  width: 100%;
}

.play-button {
  position: absolute;
  top: 50%; /* center vertically */
  left: 50%; /* center horizontally */
  transform: translate(-50%, -50%);
  font-size: 35px;
  color: white;
  background: rgba(90, 110, 90, 0.85);
  border-radius: 50%;
  width: 60px;
  height: 60px;
  line-height: 60px;
  text-align: center;
  text-decoration: none;
  transition: all 0.3s ease;
}

/* On hover, make button pop slightly */
.play-button:hover {
  background: rgba(74, 96, 74, 0.95);
  transform: translate(-50%, -50%) scale(1.1);
}

/* Slight zoom effect on image hover */
.sermon-item:hover img {
  transform: scale(1.05);
  transition: transform 0.4s ease;
}


.sermon-item h3 {
  margin-top: 15px;
  font-size: 18px;
}

.sermon-item p {
  font-size: 14px;
  color: #777;
  margin-bottom: 20px;
}
