/* layout.css */
body {
  font-family: "Playfair Display", serif;
  background-color: #fff;
  color: #333;
  background: url("../../assets/containerBackground.png");
  line-height: 1.6;
}

/* Container with background image */
.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 60px 40px;
  border-radius: 10px;
}

.container > * {
  position: relative;
  z-index: 1;
}

/* Default section styling */
section {
  padding: 80px 40px;
  border-bottom: 1px solid #eee;
}

html {
  scroll-behavior: smooth;
}
