/* typography.css */
h1, h2, h3, h4 {
  color: #222;
  font-weight: 600;
}

h1 {
  font-size: 40px;
}

h2 {
  font-size: 32px;
  margin-bottom: 15px;
}

h3 {
  font-size: 20px;
}

p {
  font-size: 16px;
  color: #727171;
  padding-bottom: 20px;
  
}

a {
  color: #5a6e5a;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}
