/* utilities.css - small helpers */
.text-center {
  text-align: center;
}

.section {
  text-align: center;
}

.section-dark {
  background-color: #5a6e5a;
  color: white;
  padding: 60px 30px;
}

.btn {
  padding: 10px 25px;
  border-radius: 5px;
  border: none;
  cursor: pointer;
  font-size: 14px;
  margin: 5px;
}

.btn-green {
  background-color: #5a7d5a;
  color: white;
}

.btn-white {
  background-color: white;
  color: #5a7d5a;
  border: 1px solid #5a7d5a;
}

.btn-green:hover {
  background-color: #4f6d4f;
}

.btn-white:hover {
  background-color: #f5f5f5;
}
