* {
    box-sizing: border-box; /* padding and margin are included in total width and height of elements */
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
    background-color: #2b2a4c;
    color: #333;
    line-height: 1.6;
}

.container {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    gap: 10px;
    background-color: #f2f2f2;
    margin: 20px 50px;
    border-radius: 15px;
    overflow: hidden;
}


header {
    grid-column: span 12;
    background-color: #58577f;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: 0px 60px;
}

header img {
    width: 120px;
    height: 80px;
    border-radius: 5px;
    margin-right: 15px;
    transform: perspective(400px) rotateY(+40deg);
}

header h1 {
    color: #ffffff;
    padding-left: 50px;
    font-size: 120px;
    font-style: italic;
}


aside {
    grid-column: span 3;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

li a {
    display: block;
    color: rgb(161, 105, 105);
    text-align: left;
    padding: 20px;
    text-decoration: none;
    border-bottom: 1px dotted #999;
}

li a:hover {
    background-color: #2b6ab3;
    color: white;
}

aside p {
    padding: 20px;
    text-align: justify;
}


main {
    grid-column: span 9;
    padding-top: 30px;
    padding-left: 15px;
}

main h2 {
    font-size: 35px;
    color: #351e1e;
}

main p {
    padding-right: 20px;
    text-align: justify;
}


footer {
    grid-column: span 12;
    background-color: #724747;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-weight: bold;
}


@media screen and (min-width: 1200px) {
    header h1 {
        font-size: 100px;
    }
}

@media screen and (max-width: 1199px) and (min-width: 806px) {
    .container {
        grid-template-columns: repeat(8, 1fr);
        margin: 15px 30px;
    }

    aside {
        grid-column: span 3;
    }

    main {
        grid-column: span 5;
    }

    header h1 {
        font-size: 80px;
        padding-left: 30px;
    }

    header img {
        width: 100px;
    }
}


@media screen and (max-width: 805px) and (min-width: 480px) {
    .container {
        grid-template-columns: repeat(5, 1fr);
        margin: 10px 15px;
    }

    header {
        flex-direction: row;
        align-items: center;
        padding: 15px;
        text-align: center;
        grid-column: span 5;
    }

    header img {
        width: 80px;
        
    }

    header h1 {
        font-size: 55px;
        padding: 0;
    }

    aside {
        grid-column: span 2;
    }

    main {
        grid-column: span 3;
    }

    footer {
        grid-column: span 5;
        text-align: center;
    }
}


@media screen and (max-width: 479px) {
    .container {
        grid-template-columns: repeat(3, 1fr);
        margin: 5px;
    }

    header {
        grid-column: span 3;
        flex-direction: row;
        align-items: center;
        padding: 10px;
    }

    header img {
        width: 70px;
    }

    header h1 {
        font-size: 35px;
        text-align: center;
        padding: 0;
    }

    aside {
        grid-column: span 1;
    }

    li a {
        padding: 10px;
        text-align: center;
    }

    main {
        grid-column: span 2;
    }

    main h2 {
        font-size: 25px;
    }

    footer {
        grid-column: span 3;
        padding: 10px;
        font-size: 14px;
    }

    li a {
        padding: 10px;
        text-align: center;
    }

    

}
